name: CI/CD Pipeline
run-name: ${{ github.actor }} is running CI/CD pipeline

on:
  push:
    branches: [ Fabian, lydia, Malinda ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build & run tests (Maven)
        working-directory: code/app
        run: mvn -B -ntp clean verify

      - name: Upload test reports & coverage
        uses: actions/upload-artifact@v4
        with:
          name: test-and-coverage-reports
          path: |
            code/app/target/surefire-reports
            code/app/target/site/jacoco

